<div class="content-header">
  <h1>
    <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
    产品介绍 — 票夹/银包
  </h1>
</div>
<table class="table table-hover" contenteditable="true">
  <thead>
    <tr>
      <th>产品名</th>
      <th>描述</th>
      <th>图片</th>
      <th>价格</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.title %></td>
        <td><%= product.description %></td>
        <td><%= product.image_url %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%#= link_to 'New Product', new_product_path %>